@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active {
    background-color: red;
} */
/* shadcn theme */

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    body {
        background-color: #fff;
    }
}

@layer components {

    .open {
        animation: animation-in 2s ease forwards;
    }

    .close {
        animation: animation-out 2s ease forwards;
    }

    @keyframes animation-in {
        0% {
            right: 100%;
        }

        100% {
            right: 0;
        }
    }

    @keyframes animation-out {
        0% {
            right: 100%;
        }

        100% {
            right: 0;
        }
    }

}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center
    }

    .flex-between {
        @apply flex items-center justify-between
    }

    .flex-items {
        @apply flex items-center
    }

    .flex-column {
        @apply flex flex-col
    }
}