@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active {
    background-color: red;
} */
/* shadcn theme */

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    body {
        background-color: #fff;
    }
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center
    }

    .flex-between {
        @apply flex items-center justify-between
    }

    .flex-items {
        @apply flex items-center
    }

    .flex-column {
        @apply flex flex-col
    }
}